.curtain {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: curtain;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

.heart {
    background: #f00;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 250px;
    animation-name: beat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.heart::before {
    content: "";
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
    height: 250px;
    width: 250px;
    top: -125px;
    left: 0px;
}

.heart::after {
    content: "";
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0px;
    left: 125px;
}

@keyframes beat {
    0% {
        transform: scale(1.2) rotate(-45deg);
    }

    50% {
        transform: scale(0.9) rotate(-45deg);
    }
}

@keyframes curtain {
    50% {
        background: #ffe6f2;
    }
}